{% extends 'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center">
        <div class="signup">
            <h2>Datos del Solicitante o Promotor</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
                <a href="{% url 'datos_proyecto' %}" class="btn btn-primary" role="button" aria-pressed="true">Anterior</a>
                <button type="submit" class="btn btn-primary">Siguiente</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}