{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="file.js"></script>

    <title>{% block title %}EIA{% endblock title %}</title>
</head>
<body>

    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-sm navbar-light bg-faded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-end" id="nav-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if user.is_superuser %}
                            <a href="{% url 'signup' %}">Sign Up</a>
                        {% else %}
                            <a href="{% url 'login' %}">Log In </a>
                        {% endif %}
                    </li>
                 </ul>
            </div>
        </nav>
    </div>



   <div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div id="toggle-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="sidebar-brand">
                    <a href="#">EIA</a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/bootstrap4/assets/img/user.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>Bienvenido</strong>
                        </span>
                        <span class="user-role">
                            <strong>Usuario</strong>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->

                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="#">                                
                                <i class="fa fa-home" style="font-size:24px"></i
                                <span>
                                    <strong>Home</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-calculator" style="font-size:24px"></i>
                                <span>
                                    <strong>Calculadora</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-cog" style="font-size:24px"></i>
                                <span>
                                    <strong>Configuración</strong>
                                </span>
                            </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="sidebar-dropdown">
                            <a href="{% url 'signup' %}">
                                <i class="fa fa-address-card" style="font-size:24px"></i>
                                <span>
                                    <strong>Registrar usuarios</strong>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="sidebar-dropdown">
                            <a href="{% url 'datos_proyecto' %}">
                                <i class="fa fa-file-text-o" aria-hidden="true" style="font-size:24px"></i>
                                <span>
                                    <strong>Documentos</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-sign-out" style="font-size:24px"></i>
                                <span>
                                    <strong>Cerrar sesión</strong>
                                </span>
                            </a>
                        </li>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">

            </div>
        </nav>

        {% block content %}
        {% endblock %}
    <!-- page-content" -->

    </div>



</body>
 <footer class="page-footer">
        <div class="footer-copyright">
          <div class="container text-white">
            <span class="white-text">
              Ingeniería del Software II. Septiembre-Diciembre 2018
            </span>
          </div>
        </div>
    </footer>
</html>